.grid7x7
{
    display: grid;
    grid-template-columns: repeat(7, 100px);
}

.grid5x5
{
    display: grid;
    grid-template-columns: repeat(5, 100px);
}

.cell
{
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}  